h2
  span.heading プログラマ志望のみなさんへ &nbsp;
  img.heading src="resources/images/Official_Elixir_logo.png"
ul
  li
    span 世の中にはいろんなプログラミング言語がある:&nbsp;
    span.nonsplit Ruby, Python, Swift, C#, ...
  li
    span もし
    span.strong 「究極言語」
    span があるとしたら，習得してみたいと思わない？
  li
    span それが
    span.strong Elixir(エリクサー)
    span だ！
    ul
      li 不老不死の霊薬に由来。ファイナルファンタジーでおなじみの名前
  li
    span Elixirの特徴はこうだ！
    ul
      li.strong 超ハイパフォーマンス
      ul
        li 複数のCPUをたやすく使い倒す！
        li 一緒に処理系を作って，GPUやFPGAを駆動してみないか？
      li.strong 高いレスポンス性能
      li.strong 高い生産性
      li.strong → ウェブサイト構築ソフト Phoenix で爆速ウェブサイトを爆速で作る！
