h2 やりたいことが見つからない 

p
  span.nonsplit
    span 実は私が一番手を差し伸べたいのは
    span.strong やりたいことが見つからない人

p
  span.nonsplit
    span 君の心の奥底に眠る
    span.strong 本当にやりたいことを引き出したい

p
  span.nonsplit 私はそのための確かなメソッドを持っている

p
  span そんな私は
  span.strong
    a href="https://zacky1972.github.io/blog/2016/12/13/Personal-Vision-Co-Creator.html" Personal Vision Co-Creator
.center
  img.icon200 src="resources/images/Zackylab_Logo_20161203_T.png"
