h2.center
  span.heading ザキ研紹介2018
  img.heading src="resources/images/ZACKY-3000.jpg"

h3.center ザキ研で想定している人材像とキャリアパス

ol
  li
    span.nonsplit.strong
      a href="https://zackylab.github.io/research-introduction-2018/#/4" プログラマ志望
  li
    span.nonsplit.strong
      a href="https://zackylab.github.io/research-introduction-2018/#/10" デザイナー志望
  li
    span.nonsplit.strong 起業家志望
  li
    span.nonsplit.strong 教師志望
  li
    span.nonsplit.strong ゲームが好きだけど後ろめたく思う
  li
    span.nonsplit.strong イベント企画・運営が楽しい
  li
    span.nonsplit.strong バンドが楽しい
  li
    span.nonsplit.strong 創作活動が楽しい
  li
    span.nonsplit.strong 地域の役に立ちたい  
  li
    span.nonsplit.strong 自分の未来に希望を持てない
  li
    span.nonsplit.strong やりたいことが見つからない